/* The overlay effect with black background */
/* .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  /* }
  
  /* The content */
  /* .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  } */
  
  /* Close button */
  /* .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  } */
  
  /* .overlay .closebtn:hover {
    color: #ccc;
  } */
/*   
  /* Style the search field */
  /* .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  } */   
  /* .overlay input[type=text]:hover {
    background: #f1f1f1;
  } */
  
  /* Style the submit button */
  /* .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } */
  
  /* .overlay button:hover {
    background: #bbb;
  } */ */ */
*{

  font-optical-sizing: auto;
  
}
body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* background-image: url(images/bike-convoy.png); */
 background-color:white;

  
  font-family: "afacad",sans-serif;
}
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
body.light-mode button {
  background-color: #007BFF;
  color: white;
}

/* Button Styles for Dark Mode */
body.dark-mode button {
  background-color: #0056b3;
  color: white;
}

/* Icon for the toggle button */
#toggle-mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}



nav {
  /* background-color: #E6F5F0; */
    text-align: end;
    display:flex;
    justify-content: space-between;
    /* align-items: end; */
    cursor: scope;
    padding: 0%;
   
        
  
    
    
   
    
}
/* .menu-icon {
    cursor: pointer;
} */
 .nav-text{
  display: none;
 }
 nav #nav-bits{
    display:flex;
    gap: 1em;
    list-style: none;
    text-decoration: none;
    padding: 4px;
    
}
nav #nav-bits .nav-bit a{
    text-decoration: none;
    position: relative;
    padding: 10px;
}
a:link{
  text-decoration: none;
}


a:visited{
  color: blue;
}
a:hover{
  color: #420234;
  text-decoration: underline;
}
.second-nav  {
  padding:0%;
  margin-right:44.08%;
  
  
background-color: rgb(223, 224, 223);


  
} 
 .second-nav ul{ 
  list-style:none;
  text-align: left;
  font-size: large;
  justify-content:space-between ;
  
  
  

 }
 .third-nav{
  padding-block:0%;
  margin:0%;
  background-color: rgb(228, 250, 250);
 }
 .second-nav button{
  
    padding: 10px 20px;
    font-size: 16px; 
    width: 150px; 
    height: 50px; 
    border: none;
    border-radius: 5px; 
    background-color:#007BFF;
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}

.fourth-nav ul{ 

  padding: 0%;
  margin-right: auto;
  list-style: none;

 
}
#token-menu {
  display: none;
  
  
  
  position: absolute;
}
.sponsor-nav {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.sponsor-nav h3 {
  margin: 0;
}

.sponsor-nav ul {
  list-style-type: none;
  padding: 0;
}

.sponsor-nav li {
  display: inline;
  margin: 0 15px;
}